<main class="index_container">
  <h2>Sign up</h2>
  <div class='form_style'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class:'input_style' %>
      </div>

      <div class="field">
        <%= f.label :photo %><br />
        <%= f.file_field :photo %>
      </div>

      <div class="field">
        <%= f.label :bio %><br />
        <%= f.text_field :bio, class:'input_style' %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input_style' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:'input_style' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input_style' %>
      </div>

      <div class="actions index_container">
        <%= f.submit "Sign up" %>
      </div>


    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</main>