<section>
<img src='<%= @user.photo %>' alt="<%= @user.name %>'s profile picture"/>
<div>
  <h2><%= @user.name %></h2>
  <p>Number of Posts: <%= @user.posts_counter %></p>
</div>
</section>
<section>
<h3>Biography</h3>
<p><%= @user.bio %></p>
</section>
<ul>
<% @user.latest_posts.each do | post | %>
    <li>
      <div>
        <h3><%= link_to post.title, user_post_path(@user, post) %></h3>
        <p><%= post.text %></p>
      </div>

      <div>
        <div>          
          <p><%= post.comments_counter %> comments</p>
        </div>

        <div>          
          <p><%= post.likes_counter %> likes</p>
        </div>
      </div>
    </li>
<% end %>
</ul>
 <button type='button'>
  <%= link_to 'See all posts', user_posts_path(@user) %>
  </button>